<?xml version='1.0' encoding='utf-8'?>
<widget id="com.fusionplus.hcs" version="3.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>HCS Messenger</name>
    <name>HCS Messenger</name>
    <description>
        HealthCare Synergy Messenger
    </description>
    <author email="sy@fusionpl.us" href="http://fusionpl.us">
        Symon Buenavista
    </author>
    <feature name="http://api.phonegap.com/1.0/device" />
    <preference name="permissions" value="none" />
    <preference name="orientation" value="default" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="false" />
    <preference name="webviewbounce" value="false" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="show-splash-screen-spinner" value="true" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="disable-cursor" value="false" />
    <preference name="android-minSdkVersion" value="7" />
    <preference name="android-installLocation" value="auto" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="StatusBarOverlaysWebView" value="true" />
    <icon src="icon.png" width="144" height="144"/>
    <gap:splash src="screen.png" />
    <gap:plugin name="com.phonegap.plugin.statusbar" version="1.1.0" />
    <gap:plugin name="de.appplant.cordova.plugin.local-notification" />
    <gap:plugin name="de.appplant.cordova.plugin.background-mode" version="0.5.0" />
    
    <plugin name="Geolocation" value="org.apache.cordova.GeoBroker" />
    
    <access origin="*" />
    <content src="index.html" />
</widget>
